<!doctype html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <title>House Cat - Multifunctional Discord Bot</title>
    <meta charset="utf-8" />
</head>
<body>

{% include 'nav.html' %}
<br>
<div class="header">
    <h1>Spice up your server!</h1>
    <div class="description">House Cat is an open-source multifunctional Discord bot, featuring meme generation, games, and more!</div>
    <a href="https://discordapp.com/api/oauth2/authorize?client_id=303023298743238656&permissions=36817984&scope=bot" target="_blank">
        <button class="discord-button">
        <img src="{{ url_for('static', filename='img/discord.svg') }}" alt="discord" >
        Add to Discord
        </button>
    </a>
    <a href="https://github.com/altskop/house-cat-bot" target="_blank">
        <button class="github-button">
        <img src="{{ url_for('static', filename='img/github.svg') }}" alt="discord" >
        Browse on GitHub
        </button>
    </a>
    <br>
    <br>
    <br>
    <br>
</div>

<div class="body">
    <h2>Features</h2>
</div>

</body>
</html>