* {
    font-family: helvetica;
    color: rgb(168, 168, 170);
  }

body {
    /*background-color: #363941;*/
    background-color: rgb(38, 38, 42);
}

a {
    text-decoration:none;
    transition: color 0.4s;
}

a:hover {
    color: white;
}

h1, h2 {
    color: white;
    text-align: center;
}

div.header {
    overflow: hidden;
    width:50%;
    margin: 150px 25% 150px 25%;
    text-align:center;
}

div.body {
    /*background-color: rgb(47, 49, 53);*/
    border-radius: 5px;
    overflow: hidden;
    width:76%;
    margin: 20px 12% 40px 12%;
    padding: 20px 10px 20px 10px;
}

div.changelog {
    width:80%;
    margin: 20px 10% 20px 10%;
    text-align: left;
}

button {
    background-color: rgb(118, 137, 212);
    border-radius: 5px;
    color: white;
    padding: 12px 32px 12px 32px;
    margin: 2px 32px 2px 0;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    position:relative;
}

button:hover {
    position:relative;
    top:1px;
}

button img {
    margin-right: 12px;
    width: 24px;
    vertical-align: middle;
}

.github-button {
    background-color: #000000;
    margin-right: 0;
}

.ui-button {
    background-color: rgb(55, 57, 62);
    margin-right: 0;
}

.submit-button {
    background-color: rgb(100, 178, 133);
}

.submit-button.loading {
    background-color: rgb(55, 57, 62);
}

div.description {
    color: rgb(155, 155, 155);
    margin-bottom: 21.44px;
}

div.feature-entry {
    display: inline-block;
    margin: 10px 10px 40px 10px;
}

div.feature-description {
    width: 45%;
    text-align: center;
    line-height: 25px;
    vertical-align: middle;
    display: inline-block;
    padding: 23px;
}

img.screenshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    vertical-align: middle;
    object-fit: contain;
    margin: auto;
    max-height: 330px;
    max-width: 100%;
}

span.code {
    background-color: rgb(32, 34, 37);
    color: rgb(99, 150, 208);
    font-weight: regular;
    padding: 5px;
}



.table-of-contents {
  float: left;
  width: 40%;
  padding: 1em 2em;
  margin: 0 0 0.5em 0.5em;
}
.table-of-contents ul {
  padding: 0;
}
.table-of-contents li {
  margin: 0 0 0.25em 0;
}
.table-of-contents a:active {
  text-decoration: underline;
}

h3:target {
  animation: highlight 0.5s ease;
}

@keyframes highlight {
  from { background: white; }
  to { background: rgb(38, 38, 42); }
}

.footer {
    margin-top: 100px;
    text-align: center;
    font-size: 8px;
}