OAUTH2_CLIENT_ID=
OAUTH2_CLIENT_SECRET=
ACCESS_TOKEN=exampletoken # Access token for the bot to login with
PG_HOST=localhost # host for postgres
PG_PORT=1234 # port for postgres
PG_USER=postgres # user for postgres
PG_PASSWORD=postgres # password for postgres
PG_DATABASE=postgres # database name
OWNER_ID=123456789 # discord ID for admin user to manage global templates