ACCESS_TOKEN=exampletoken # Access token for the bot to login with
PG_HOST=localhost # host for postgres
PG_PORT=1234 # port for postgres
PG_USER=postgres # user for postgres
PG_PASSWORD=postgres # password for postgres
PG_DATABASE=postgres # database name
DBL_TOKEN=token # DBL token