<!doctype html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <title>House Cat - Multifunctional Discord Bot</title>
    <meta charset="utf-8" />
</head>
<body>

{% include 'nav.html' %}
<br>
<div class="header">
    <h1>Spice up your server!</h1>
    <div class="description">House Cat is an open-source multifunctional Discord bot, featuring meme generation, games, and more!</div>
    <a href="https://discordapp.com/api/oauth2/authorize?client_id=303023298743238656&permissions=36817984&scope=bot" target="_blank">
        <button class="discord-button">
        <img src="{{ url_for('static', filename='img/discord.svg') }}" alt="discord" >
        Add to Discord
        </button>
    </a>
    <a href="https://github.com/altskop/house-cat-bot" target="_blank">
        <button class="github-button">
        <img src="{{ url_for('static', filename='img/github.svg') }}" alt="discord" >
        Browse on GitHub
        </button>
    </a>
    <br>
    <br>
    <br>
    <br>
</div>

<div class="body">
    <div class="feature-entry">
        <div class="feature-description">
        <h2>Configurable easy-to-use Meme Generator</h2>
            Create new memes easily with the help of House Cat! Upload new templates from the dashboard online or use hundreds of existing ones!
        </div>
        <div class="feature-description">
            <img class="screenshot" src="{{ url_for('static', filename='img/screenshots/drake-meme.png') }}">
        </div>
    </div>
    <br>
    <div class="feature-entry">
        <div class="feature-description">
            <img class="screenshot" src="{{ url_for('static', filename='img/screenshots/rps-game.png') }}">
        </div>
        <div class="feature-description">
        <h2>Play games!</h2>
            Challenge your friends to a game of Rock-Paper-Scissors or spend the night laughing at Cards Against Humanity together!
        </div>
    </div>
    <br>
    <div class="feature-entry">
        <div class="feature-description">
        <h2>... and much more!</h2>
            "Thesaurize" messages, ask the Magic 8-Ball for advice, roll dice and create polls!
        </div>
        <div class="feature-description">
            <img class="screenshot" src="{{ url_for('static', filename='img/screenshots/magic8ball.png') }}">
        </div>
    </div>
</div>

</body>
</html>